<%= javascript_tag do %>
	window.places = <%= raw @places.to_json %>
<% end %>

<h1>Welcome! This is a map of East Bay Meetings</h1>
<div class='grid-container'>
	<div id='map-container' class='col-2-3'>
		<div id='map-canvas'></div>
	</div>

	<div id='legend' class='col-1-3'>
		<dl>
			<dd class='name'>Click map</dd>
			<dd class='time'>points</dd><dd class='day'>for details</dd><br>
			<dd class='address'></dd>
			<dd class='city'></dd>
			<dd class='detail_name'></dd>
			<dd class='detail_notes'></dd>
		</dl>
	</div>
</div>